/* h1 img {
  width: 120px;
  height: 80px;
  border-radius: 34px;
} */

.card{
  text-align: center;
  width: 280px;
  height: 290px;
  background-color: rgb(183, 193, 74);
  border-radius: 23px;
  padding: 7px;
  border: 1px solid black;
  margin: 4px;
}

.card img {
  width: 280px;
  height: 200px;
  border-radius: 23px;
  border: none;
  box-shadow: 5px 6px 9px black;
}

.card h2{
    width: 180px;
  height: 50px;
  /* font-size: 20px; */
  margin-left: 50px;
  padding-top: 20px;
  background-color: white;
  border-radius: 34px;
}

.card button{
  font-size: 20px;
  border-radius: 32px;
  background-color: rgb(0, 0, 0,0.8);
  color: white;
  cursor: pointer;
}

.main{
  display: flex;
  overflow-x: auto;
}

.add{
  margin-right: 20px;
  padding: 2px;
}
.sub{
  margin-left: 20px;
  padding: 2px;
}

/* button:disabled {
  background-color: red;
  color: white;
} */

.head{
  font-size: 25px;
  text-decoration: double underline;
  padding: none;
}

.gr{
  /* width: 480px; */
  font-size: 30px;
  /* padding-bottom: ; */
  padding: 12px;
  height: 50px;
  color: rgb(4, 212, 0);
  background-color: black;
  border-radius: 24px;
}