<h1 style="font-size: 50px; text-decoration: double underline;">Angular  </h1>

 <p> <b> Data Binding : </b>The transmission of data from component to template or the template to component or both </p>

 <ul>
  <li> Component to Template in {{name}} </li>
   <ol> <li>  <p> <b>String Interpolation : </b>It is a way of getting data from the component to template as a string By using double flower braces </p> </li></ol> 
 </ul>

 <ul>
  <li> Example : Interpolation making a card </li>
 </ul>

 <div class="main">
  <div class="card">
  <img src={{img}} alt={{name}}>
  <h3>{{name}}</h3>
  <button [disabled]="isAvaliable"><link rel="stylesheet" href="https://v16.angular.io/docs" >Know-More</button>
 </div>

 <div class="card">
  <img src={{proImg}} alt={{name}}>
  <h3>{{topic}}</h3>
  <button [disabled]="isAvaliable"><link rel="stylesheet" href="https://v16.angular.io/docs" >Know-More</button>
 </div>


 <div class="card">
   <h3 class="head"> Counter Application </h3>
  <h2>{{count}}</h2>
  <h2><strong>{{isEven}}</strong></h2>
  <div class="btn">
    <button (click)="inc()" class="add" [disabled]="isAvaliable"> Add + </button>
    <button (click)="res()" > Reset  </button>
    <button (click)="dec()" class="sub" [disabled]="isAvaliable"> Sub - </button>
  </div>
 </div>
 </div>